:root {
	--yellow: #ffd700;
	--text-color: #525252;
	--sub-header-color: #404040;
	--light-text-color: #f8f8f8;
	--dark-blue: #092043;
	--light-blue: #0971b7;
	--blue: #0b4a6a;
	--gray: #d9d9d9;
}
ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a.active {
	color: var(--yellow);
}

.navbar a {
	font-weight: 600;
}
